-if user_signed_in?
	find all your listings
-else
	.intro
		%h1 Lost anything lately??
		%p Let's help you get it back
		= form_tag root_path, :class => "navbar-search pull-left", :method => :get do
			= text_field_tag :search, nil, :class => "", :placeholder => "Search"
			